:root {
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
  --fw-500: 500;
  --fw-700: 700;
}

html {
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--cream);
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
}

main {
  background-color: var(--white);
  border-radius: 10px;
  max-width: 45rem;
}

picture img {
  display: block;
  border-radius: 10px 10px 0 0;
}

.product-text {
  padding: 1rem 2rem;
}

.product-text > * {
  margin-bottom: 1rem;
}

.category,
.description,
.btn {
  font-family: "Montserrat", sans-serif;
}

.name,
.price {
  font-family: "Fraunces", serif;
}

.category {
  margin-top: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--grey);
  font-weight: var(--fw-500);
  font-size: clamp(0.8rem, 0.7403rem + 0.2546vw, 1rem);
}

.name {
  font-size: clamp(2.2rem, 2.0807rem + 0.5091vw, 2.6rem);
  line-height: 1;
}

.description {
  color: var(--grey);
  font-size: clamp(1rem, 0.9702rem + 0.1273vw, 1.1rem);
  line-height: 1.6;
  font-weight: var(--fw-500);
}

.price {
  margin-top: 0.5rem;
  color: var(--green-500);
  font-size: clamp(2rem, 1.8508rem + 0.6364vw, 2.5rem);
  display: flex;
  align-items: center;
  font-weight: var(--fw-700);
}

.price span {
  color: var(--grey);
  font-family: "Montserrat", sans-serif;
  font-weight: var(--fw-700);
  font-size: clamp(1rem, 0.9702rem + 0.1273vw, 1.1rem);
  margin-left: 1rem;
  text-decoration: line-through;
  font-weight: normal;
}

.btn {
  width: 100%;
  background-color: var(--green-500);
  color: var(--white);
  cursor: pointer;
  font-size: clamp(1rem, 0.9702rem + 0.1273vw, 1.1rem);
  font-weight: var(--fw-700);
  border: none;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.btn img {
  margin-right: 0.5rem;
  display: inline-block;
}

.btn:hover {
  background-color: var(--green-700);
}


@media (min-width: 45rem) {
  main {
    display: flex;
  }

  main div {
    width: 50%;
  }

  picture img {
    border-radius: 10px 0 0 10px;
  }

  .product-text {
    padding: 2rem;
  }

  .product-text > * {
    margin-bottom: 1.5rem;
  }

  .price span {
    margin-left: 2rem;
  }
  
  .btn {
    margin-bottom: 0;
  }

  .btn img {
    margin-right: 1rem;
    height: 1.3rem;
  }
}